.comments__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 19px;
    margin-top: 60px;
}


@media screen and (max-width: 320px) {
    .comments__container {
        grid-template-columns: 1fr;
        grid-gap: 48px;
        margin-top: 37px;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    .comments__container {
        grid-template-columns: 1fr;
        grid-gap: 48px;
        margin-top: 48px;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    .comments__container {
        grid-template-columns: 1fr;
        grid-gap: 48px;
    }
}

