.video__item-subtitle {
    position: absolute;
    top: 280px;
    left: 30px;
    width: 285px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 300;
}
@media screen and (max-width: 885px) {
    .video__item-subtitle {
       position: unset;
    }
}
@media screen and (min-width: 886px) and (max-width: 1152px) {
    .video__item-subtitle {
        top: 240px;
    }
}

