.footer__navigation {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 18px;
}

@media screen and (max-width: 524px) {
    .footer__navigation {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 525px) and (max-width: 928px) {
    .footer__navigation {
        grid-template-columns: repeat(3, auto);
    }
}