.footer__link {
    font-size: 24px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 524px) {
    .footer__link {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 525px) and (max-width: 1208px) {
    .footer__link {
        font-size: 16px;
        line-height: 27px;
    }
}
