.video__item-duration {
    position: absolute;
    top: 165px;
    left: 30px;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    font-weight: 300;
}
@media screen and (max-width: 885px) {
    .video__item-duration {
        position: unset;
    }
}
@media screen and (min-width: 886px) and (max-width: 1152px) {
    .video__item-duration {
        top: 125px;
    }
}

